<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.cshtml" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false" applyToWebDAV="true">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="HEAD" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
          <add verb="TRACE" allowed="true" />
        </verbs>
      </requestFiltering>
   </security>
    <handlers>
      <add name="Images" path="*.png" verb="GET,HEAD,POST,OPTIONS,TRACE" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" resourceType="Unspecified" />
      <add name="Stylesheets" path="*.css" verb="GET,HEAD,POST,OPTIONS,TRACE" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" resourceType="Unspecified" />
      <add name="JS" path="*.js" verb="GET,HEAD,POST,OPTIONS,TRACE" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" resourceType="Unspecified" />
      <add name="HTML" path="*.html" verb="GET,HEAD,POST,OPTIONS,TRACE" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" resourceType="Unspecified" />
      <add name="jpgs" path="*.jpg" verb="GET,HEAD,POST,OPTIONS,TRACE" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" resourceType="Unspecified" />
      <add name="gifs" path="*.gif" verb="GET,HEAD,POST,OPTIONS,TRACE" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
